<h1>Questions Index</h1>

<%= link_to "Ask a question", new_question_path, class: 'btn btn-success' %>

<% @questions.each do |q| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to q.title, q %>
            </h4>
        </div>
    </div>
<% end %>