<h1>Welcome to Bloccit</h1>
<p id="index_title">This is the home page for Bloccit.</p>

<%= link_to "Posts", posts_path, class: 'btn btn-primary' %>

<%= link_to "Questions", questions_path, class: 'btn btn-primary' %>