// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
    color: #337ab7;
    font-size: 20px;
    height: 60px;
    width: 180px;
    background-color: #CCFF99;
    text-align: center;
    padding-top: 15px;
    border: solid #337ab7 2px;
    border-radius: 15px;
    margin-left: 10px;
}